<!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    <input id="msg" type="text"></input>
    <button id="send">
        Send
    </button><BR>
    <textarea id="log" cols=100 rows=50>
    </textarea>
    <script>
var sock = new WebSocket("ws://{{servername}}:40080/ws");

sock.onopen = ()=>{
    console.log('open')
	sock.binaryType = 'arraybuffer';
}
sock.onerror = (e)=>{
    console.log('error',e)
}
sock.onclose = ()=>{
    console.log('close')
}
sock.onmessage = (e)=>{
    //$("#log").val(e.data +"\n" + $("#log").val());
	if(typeof(evt.data)=="string")
	{  
		//textHandler(JSON.parse(evt.data));  
	}
	else
	{
		 var data = new Uint8Array(evt.data);
		 console.log(data.length);
		 //for(var i = 0;i < 10; i++)
		 //   console.log((data[i]).toString(16));
		 /*
		 var data_bin = '';
		 for(var i = 0; i < data.length; i++)
			 data_bin += String.fromCharCode(data[i]);
		 //console.log(data_bin);
		 /*var str11 = arrayBufferToBase64(data);

		 function arrayBufferToBase64(buffer){
			 var data_bin = '';
			 var data_bytes =  new Uint8Array(evt.data);
		 }
		 var outputImg = document.createElement('img');
		 outputImg.src = 'data:image/jpg;base64,'+ data_bin;
		 window.btoa(data_bin);
	  */ 
		var str12 = arrayBufferToBase64(data);
		console.log(str12);
		var outputImg = document.createElement('img');
		outputImg.src = 'data:image/*;base64,'+str12;
		document.body.appendChild(outputImg);
		console.log(outputImg);
		function arrayBufferToBase64(buffer){
			var binary = '';
			var bytes = new Uint8Array(buffer);
			var len = bytes.byteLength;
			for(var i = 0; i < len; i++){
				binary += String.fromCharCode(bytes[i]);
			}
			return window.btoa(binary);
		}
	}  
}
$("#msg").keypress(function(e){
    if (e.which == 13)
    {
    sock.send($("#msg").val());
    $("#msg").val("");
    }
});
$("#send").click(()=>{
    sock.send($("#msg").val());
    $("#msg").val("");
});
    </script>
</body>
</html>
